* text=auto
*.sh text eol=lf
*.cs diff=csharp text eol=lf
*.asmdef text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.dll binary
*.so binary
*.dylib binary
*.a binary
*.mnn binary
*.png binary
## Unity ##
*.cginc text
*.shader text
*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
# Unity writes spaces after empty serialized values; preserve that format.
*.meta merge=unityyamlmerge eol=lf whitespace=-blank-at-eol
*.controller merge=unityyamlmerge eol=lf
